@model IEnumerable<Comment>

@foreach(var m in Model)
{
	<div class="card mx-auto mb-3" style="width: 50rem;">
		<div class="card-body">
			<p class="card-text">@m.Message</p>
			<p class="card-text text-end m-0"><small class="text-body-secondary">Added @Extensions.AsTimeAgo(@m.UpdatedAt)</small></p>
		</div>
	</div>
}