@model AnnouncementViewModel

@{
    ViewData["Title"] = "Create New Announcement";
}

<div class="my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create New Announcement</li>
        </ol>
    </nav>
</div>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">@ViewData["Title"]</h1>
</div>

<form method="post" asp-action="Create" enctype="multipart/form-data" id="announcementForm">
    <div class="card p-4 shadow-lg mb-3">
        <div class="form-floating mb-3">
            <input asp-for="Title" class="form-control" id="title" placeholder="">
            <label asp-for="Title">Title</label>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" asp-for="Description" rows="3" style="height:150px" placeholder="" id="description"></textarea>
            <label asp-for="Description">Description</label>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        
        <div class="mb-3">
            <label asp-for="Image" class="form-label mb-3">Upload an image...</label>
            <input asp-for="Image" class="form-control" type="file" id="formFile">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="align-items-center" style="display:none;" id="spinner">
        <strong role="status">Uploading...</strong>
        <div class="spinner-border ms-auto" aria-hidden="true"></div>
    </div>
</form>

<script>
    document.getElementById('announcementForm').addEventListener('submit', function () {
        document.getElementById('spinner').style.display = 'block';
    });
</script>