@model TicketViewModel

<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Ticket Record</li>
        </ol>
    </nav>
</div>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Create New Ticket Record</h1>
</div>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"]
    </div>
}

<form asp-action="Create" method="post" class="card p-4 shadow-lg">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="DrawNumber" class="form-control">
        <label asp-for="DrawNumber">Draw Number</label>
        <span asp-validation-for="DrawNumber" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="DrawDate" class="form-control">
        <label asp-for="DrawDate">Draw Date</label>
        <span asp-validation-for="DrawDate" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Price" class="form-control">
        <label asp-for="Price">Price</label>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <textarea asp-for="Notes" class="form-control" style="height: 150px"></textarea>
        <label asp-for="Notes">Notes</label>
    </div>

    <div class="form-floating mb-3">
        <select class="form-select" id="floatingSelect" aria-label="Ticket Type" asp-for="Type"
                asp-items="Html.GetEnumSelectList<TicketType>()">
        </select>
        <label for="floatingSelect">Ticket Type</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>